body{
   width:100%;
   height:100%;
   margin:0px;
   padding:0px;
   overflow-x:hidden;
}

.section1
{
    background-image:url('first.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    height:950vh;
    position:absolute;
    top:0px;
    width:1500px;
    padding-right:0px;
    margin:0px;
 }
 

.p1 h1
{
    text-align:center;
    font-family:Arial,Helvetica,sans serifa;
    font-size:40px;
    margin-top:100px;
    margin-bottom:5px;
    padding-top:10px;
    font-family:-apple-system,Arial,sans-serif;
    font-weight:580;
}





 /*paragraph*/
 .p1 p
 {
text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
margin-bottom:0px;
margin-top:0px;
font-weight:550;
 }

.p2 p
 {
 text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
  margin-bottom:0px;
  margin-top:0px;
  font-weight:550;
  text-decoration:underline;
 }

 .button
 {
   text-align:center;
   margin-top:470px;
 }

 .my-button1
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  margin-right:15px;
  color: #333; 
}
.my-button2
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  background-color:black;
  color:white;
}
.nav li a
{
color:#000000;
text-decoration:none;
padding:20px;
font-weight:550;

}


.nav ul
{
     list-style: none;
     text-align:center;
     position:relative;
     top:0px;
     font-size:13px;
     font-family:-apple-system,Arial,sans-serif;
     font-weight:580;
     margin-top:0px;
     padding-top:20px;
     padding-left:10px;
     margin-bottom:0px;
     padding-bottom:0px;
}


.nav li
{

display:inline-block;

}



/*SECTION-2*/
.section2
{
 background-image:url('second.jpg'); 
 position:absolute;
 top:908px;
 width:1500px;
  background-repeat:no-repeat;
    background-size:contain;
    height:950vh;
}


.p3 h1
{
    text-align:center;
    font-family:Arial,Helvetica,sans serifa;
    font-size:40px;
    margin-top:100px;
    margin-bottom:5px;
    padding-top:10px;
    font-family:-apple-system,Arial,sans-serif;
    font-weight:580;
}




 /*paragraph*/
 .p3 p
 {
text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
margin-bottom:0px;
margin-top:0px;
font-weight:550;
 }

.p4 p
 {
 text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
  margin-bottom:0px;
  margin-top:0px;
  font-weight:550;
  text-decoration:underline;
 }

.button2
 {
   text-align:center;
  position:absolute;
  top:700px;
  right:450px;
 }

 .my-button11
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  margin-right:15px;
  color: #333; 
}
.my-button22
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  background-color:black;
  color:white;
}


/*SECTION-3*/
.section3
{
 background-image:url('third.jpg'); 
 position:absolute;
 top:1800px;
 width:1500px;
  background-repeat:no-repeat;
    background-size:contain;
    height:1050vh;
}



.p5 h1
{
    text-align:center;
    font-family:Arial,Helvetica,sans serifa;
    font-size:40px;
    margin-top:100px;
    margin-bottom:5px;
    padding-top:10px;
    font-family:-apple-system,Arial,sans-serif;
    font-weight:580;
}




 /*paragraph*/
 .p5 p
 {
text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
margin-bottom:0px;
margin-top:0px;
font-weight:550;
 }

.p6 p
 {
 text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
  margin-bottom:0px;
  margin-top:0px;
  font-weight:550;
  text-decoration:underline;
}
.button3
 {
   text-align:center;
  position:absolute;
  top:740px;
  right:450px;
 }

 .my-button111
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  margin-right:15px;
  color: #333; 
}
.my-button222
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  background-color:black;
  color:white;
}




/*SECTION-4*/
.section4
{
 background-image:url('fourth.jpg'); 
 position:absolute;
 top:2670px;
 width:1450px;
  background-repeat:no-repeat;
    background-size:contain;
    height:500vh;
}



.p7 h1
{
    text-align:center;
    font-family:Arial,Helvetica,sans serifa;
    font-size:40px;
    margin-top:100px;
    margin-bottom:5px;
    padding-top:10px;
    font-family:-apple-system,Arial,sans-serif;
    font-weight:580;
    color:white;
}




 /*paragraph*/
 .p7 p
 {
text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
margin-bottom:0px;
margin-top:0px;
font-weight:550;
 }

.p8 p
 {
 text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
  margin-bottom:0px;
  margin-top:0px;
  font-weight:550;
  text-decoration:underline;
}
.button4
 {
   text-align:center;
  position:absolute;
  top:700px;
  right:450px;
 }

 .my-button1111
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  margin-right:15px;
  color: #333; 
}
.my-button2222
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  background-color:black;
  color:white;
}



/*SECTION-5*/
.section5
{
 background-image:url('fifth.jpg'); 
 position:absolute;
 top:3556px;
 width:1500px;
  background-repeat:no-repeat;
    background-size:contain;
    height:1050vh;
}



.p9 h1
{
    text-align:center;
    font-family:Arial,Helvetica,sans serifa;
    font-size:40px;
    margin-top:100px;
    margin-bottom:5px;
    padding-top:10px;
    font-family:-apple-system,Arial,sans-serif;
    font-weight:580;
    font-family:Garamond, serif;
}




 /*paragraph*/
 .p9 p
 {
text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
margin-bottom:0px;
margin-top:0px;
font-weight:550;
 }

.p10 p
 {
 text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
  margin-bottom:0px;
  margin-top:0px;
  font-weight:550;
  text-decoration:underline;
}
.button5
 {
   text-align:center;
  position:absolute;
  top:700px;
  right:450px;

 }

 .my-button11111
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  margin-right:15px;
  background-color:black;
  color: rgba(255, 255, 255, 0.8); 
}
.my-button22222
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  background-color:black;
  color:rgba(255, 255, 255, 0.8);
}



/*SECTION-6*/
.section6
{
 background-image:url('sixth.jpg'); 
 position:absolute;
 top:4492px;
 width:1500px;
  background-repeat:no-repeat;
    background-size:contain;
    height:1050vh;
}



.p11 h1
{
    text-align:center;
    font-family:Arial,Helvetica,sans serifa;
    font-size:40px;
    margin-top:100px;
    margin-bottom:5px;
    padding-top:10px;
    font-family:-apple-system,Arial,sans-serif;
    font-weight:580;
    color:white;
}




 /*paragraph*/
 .p11 p
 {
text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
margin-bottom:0px;
margin-top:0px;
font-weight:550;
color:white;
 }

.p12 p
 {
 text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
  margin-bottom:0px;
  margin-top:0px;
  font-weight:550;
  text-decoration:underline;
  color:white;
}
.button6
 {
   text-align:center;
  position:absolute;
  top:700px;
  right:450px;
 }

 .my-button111111
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  margin-right:15px;
  color: #333; 
}
.my-button222222
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  background-color:black;
  color:white;
}



/*SECTION-7*/
.section7
{
 background-image:url('seventh.jpg'); 
 position:absolute;
 top:5428px;
 width:1500px;
  background-repeat:no-repeat;
    background-size:contain;
    height:1050vh;
}



.p13 h1
{
    text-align:center;
    font-family:Arial,Helvetica,sans serifa;
    font-size:40px;
    margin-top:100px;
    margin-bottom:5px;
    padding-top:10px;
    font-family:-apple-system,Arial,sans-serif;
    font-weight:580;
}




 /*paragraph*/
 .p13 p
 {
text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
margin-bottom:0px;
margin-top:0px;
font-weight:550;
 }

.p14 p
 {
 text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
  margin-bottom:0px;
  margin-top:0px;
  font-weight:550;
  text-decoration:underline;
}
.button7
 {
   text-align:center;
  position:absolute;
  top:700px;
  right:450px;
 }

 .my-button1111111
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  margin-right:15px;
  color: #333; 
}
.my-button2222222
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  background-color:black;
  color:white;
}



/*SECTION-8*/
.section8
{
 background-image:url('eighth.jpg'); 
 position:absolute;
 top:6364px;
 width:1500px;
  background-repeat:no-repeat;
    background-size:contain;
    height:1050vh;
}



.p15 h1
{
    text-align:center;
    font-family:Arial,Helvetica,sans serifa;
    font-size:40px;
    margin-top:140px;
    margin-bottom:5px;
    padding-top:10px;
    font-family:-apple-system,Arial,sans-serif;
    font-weight:580;
}




 /*paragraph*/
 .p15 p
 {
text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
margin-bottom:0px;
margin-top:0px;
font-weight:550;
 }

.p16 p
 {
 text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
  margin-bottom:0px;
  margin-top:0px;
  font-weight:550;
  text-decoration:underline;
}
.button8
 {
   text-align:center;
  position:absolute;
  top:700px;
  right:450px;
 }

 .my-button11111111
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  margin-right:15px;
  color: #333; 
}
.my-button22222222
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  background-color:black;
  color:white;
}


/*SECTION-9*/
.section9
{
 background-image:url('ninth.jpg'); 
 position:absolute;
 top:7290px;
 width:1500px;
  background-repeat:no-repeat;
    background-size:contain;
    height:1050vh;
}



.p17 h1
{
    text-align:center;
    font-family:Arial,Helvetica,sans serifa;
    font-size:40px;
    margin-top:100px;
    margin-bottom:5px;
    padding-top:10px;
    font-family:-apple-system,Arial,sans-serif;
    font-weight:580;
}




 /*paragraph*/
 .p17 p
 {
text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
margin-bottom:0px;
margin-top:0px;
font-weight:550;
 }

.p18 p
 {
 text-align:center;
font-family:Arial,Helvetica,sans serifa;
 font-size:23px;
  margin-bottom:0px;
  margin-top:0px;
  font-weight:550;
  text-decoration:underline;
}
.button9
 {
   text-align:center;
  position:absolute;
  top:700px;
  right:600px;
 }

 .my-button111111111
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  margin-right:10px;
  color: #333; 
}
.my-button222222222
{
  font-family:Arial,Helvetica,sans serifa;
  font-size:13px;
  font-weight:580;
  padding-right:110px;
  padding-left:110px;
  border-radius:5px;
  padding-top:12px;
  padding-bottom:12px;
  background-color:black;
  color:white;
}


.images
{
position:absolute;
right:100px;
top:30px;}
.images img{
margin-right:10px;
}



footer
{
    position:absolute;
    top:8225px;
    background-color:black;
    width:1500px;
    height:65vh;
    color:rgba(255, 255, 255, 0.8);
    font-size:13px;
    font-family:Arial,Helvetica,sans serifa; ;

}


.footer
{
    text-align:center;
    margin-top:33px;
}


.copyright
{
    text-align:center;
    padding-top:30px;
}


.highlight
{
 font-weight:bold;
}

.tes
{
    position:absolute;
    top:5px;
    left:50px;
    font-family: 'Pacifico', cursive;
    font-size: 2px;
    letter-spacing:9px;
    font-weight:bold;
}